<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<h2>Success</h2>
	<form action="delete" method="post">
		<table>
			<tr th:each="student : ${students}">
				<td th:text="${student.id}" />
				<td th:text="${student.name}"></td>
				<td th:text="${student.password}"></td>
				<!-- <td><input type="button" th:value="Edit"
					th:name="${student.id}" /></td> -->
				<td><input type="submit" th:value="Delete"
					th:name="${student.id}" /></td>
			</tr>
		</table>
	</form>


</body>
</html>